//

.hidden, .hide {
    display: none;
}


//.page-nav .pagination {
//    float: right;
//    margin: 0;
//}
//
//.pagination > li > a, .pagination > li > span {
//    padding: 5px 10px;
//    font-size: 12px;
//    line-height: 1.5;
//}
//
//.margin-top-15 {
//    margin-top: 15px;
//}
//
//.margin-top-5 {
//    margin-top: 5px;
//}
//
//#content-iframe {
//    width: 100%;
//    height: 100%;
//    min-height: calc(100vh - 101px);
//}
//
//.main-content {
//    background-color: #ecf0f5;
//    min-height: calc(100vh - 0px);
//}
//
//.margin-right-15 {
//    margin-right: 15px;
//}
//.mar-b-15{
//    margin-bottom: 15px;
//}
//.list-page {
//
//}
//
//#list-page .info {
//    line-height: 28px;
//}
//
//#list-page .page-total {
//    font-weight: bold;
//}
//
//.check-all, .check-item {
//    cursor: pointer;
//    width: 16px;
//    height: 16px;
//}
//
//.form-group {
//    //margin-top: 10px;
//}
//
//.width-100 {
//    width: 100px;
//}
//
///*导航字体大小*/
//.sidebar-menu li.header {
//    font-size: 14px;
//    font-weight: 600;
//}
//
//.skin-blue-light .sidebar-menu > li > a {
//    font-size: 12px;
//    /*font-weight: inherit;*/
//}
//
//.content-header > h1 {
//    font-size: 18px;
//}
//
//.timeline > li > .timeline-item > .timeline-header {
//    font-size: 14px;
//}
//
///*表格边框颜色*/
//.table-bordered {
//    border: 1px solid #ddd;
//}
//
//.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
//    border: 1px solid #ddd;
//}
//
//.btn-link:active {
//    box-shadow: none;
//}
//
///**
//首导航字体大小
// */
//.sidebar-menu .header-level0 span {
//    font-size: 14px;
//}
//
//.border-right-width-1px {
//    border-right-width: 1px !important;
//}
//
//.color-white {
//    color: #fff;
//}
//
//.product-video {
//    width: 100%;
//}
//
//.position-relative {
//    position: relative;
//}
//
//.no-border-top tr:first-child td, .no-border-top tr:first-child th {
//    border-top: none;
//}
//
//.table > tbody > tr > td, .table > thead > tr > th {
//    vertical-align: middle;
//}
//
////#menu-bar>.treeview>a,#menu-bar>li>a>span{
////    font-size: 14px;
////}
////
////.treeview-menu>li>a{
////    font-size: 12px;
////    padding: 8px 5px 5px 15px;
////}
//
//.no-data-text {
//    color: #999;
//    text-align: center;
//}
//
//.cursor-pointer {
//    cursor: pointer;
//}
//
///*提示框最小宽度*/
//.min-width-tip {
//    min-width: 300px;
//}
//
///*加载颜色*/
//#nprogress .bar {
//    background: #ff2d20;
//}
//
//#nprogress .peg {
//    box-shadow: 0 0 10px #ff2d20, 0 0 5px #ff2d20;
//}
//
//#nprogress .spinner-icon {
//    border-top-color: #ff2d20;
//    border-left-color: #ff2d20;
//}
//
//.search-form-inline {
//    text-align: center;
//
//    .el-input__inner, .el-select {
//        width: 100% !important;
//    }
//
//    .el-form-item {
//        width: 48% !important;
//    }
//
//    .el-form-item__label {
//        width: 20%;
//    }
//
//    .el-form-item__content {
//        width: 80%;
//    }
//}

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4,h5, h6, i, b, textarea, button, input, select, figure, figcaption {
    padding: 0;
    margin: 0;
    list-style: none;
    font-style: normal;
    text-decoration: none;
    border: none;
    font-family: "Microsoft Yahei",sans-serif;
    -webkit-tap-highlight-color:transparent;
    -webkit-font-smoothing: antialiased;
    &:focus {
        outline: none;
    }
}



input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
    -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
    height: 100%;
    width: 100%;
}

.clear:after{
    content: '';
    display: block;
    clear: both;
}

.clear{
    zoom:1;
}

.back_img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin{
    margin: 0 auto;
}

.left{
    float: left;
}

.right{
    float: right;
}

.hide{
    display: none;
}
.show{
    display: block;
}
.text_center{
    text-align: center;
}
.text_left{
    text-align: left;
}
.text_right{
    text-align: right;
}
.ver_align{
    vertical-align: middle;
}
.rflex{
    display: flex;
    flex-direction: row;
}
.cflex{
    display: flex;
    flex-direction: column;
}
.wflex{
    flex:1;
}

.right-nav{
    display: flex;
    flex: 1;
    width:calc(100% - 0px);
    padding-right: 15px;
    justify-content: space-between;
    box-shadow:0px 2px 5px 0px rgba(237,233,233,0.5);
}
.head-nav {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 29;
    transition: width .2s;
    justify-content: space-between;
    height: 60px;
    box-sizing: border-box;
    background: #fff;
    .logout {
        vertical-align: middle;
        cursor: pointer;
    }
}
.middle{
    align-items: center;
    border:1px solid;
}
.userinfo-right{
    width:320px;
    padding: 0 10px;
    justify-content: space-between;
}
.userinfo {
    line-height: 60px;
    text-align:right;
}
.avatar{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.langAvatar{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
}
.welcome{
    display: inline-block;
    vertical-align: middle;
    padding: 0 5px;
    .name{
        line-height: 20px;
        text-align: center;
        font-size: 12px;
    }
    .avatarname{
        color:#a9d86e;
        font-weight:bolder;
        font-size: 13px;
    }
}
.username {
    cursor: pointer;
    margin-right: 5px;
}
.border{
    border:1px solid;
}
.notify-row{
    line-height:60px;
    flex:1;
    ul{
        display: flex;
        justify-content: space-around;
    }
}

ul.top-menu > li {
    position: relative;
}






